:root {
  --text-main: #edeef0;
  --bg-main: #111111;
  --bg-calculator: #191919;
  --text-key: #b4b4b4;
  --bg-key: #222222;
  --bg-key-hover: #2a2a2a;
  --bg-key-pressed: #313131;
  --border: #3a3a3a;
  --bg-btn: #004074;
  --bg-btn-hover: #003362;
  --bg-btn-active: #0d2847;
  --border-key: #205d9e;
  --bg-btn-operation: #484848;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-main);
}

.calculator {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-calculator);
}

.output {
}

.keypad {
  width: 100%;
}

.row {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  gap: 10px;
}

button {
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 24px 0;
  flex: 1;
  border: none;
  background-color: var(--bg-key);
  color: var(--text-main);
}

.operation {
  background-color: var(--bg-btn-operation);
  color: var(--bg-main);
}

.equal {
  background-color: var(--bg-btn);
  color: var();
}

.equal:hover {
  background-color: var(--bg-btn-hover);
}

.equal:active {
  background-color: var(--bg-btn-active);
}