:root {
  --text-main: #edeef0;
  --bg-main: #111111;
  --bg-calculator: #191919;
  --text-key: #b4b4b4;
  --bg-key: #363636;
  --bg-key-hover: #2a2a2a;
  --bg-key-pressed: #313131;
  --border: #3a3a3a;
  --bg-btn: #004074;
  --bg-btn-hover: #003362;
  --bg-btn-active: #0d2847;
  --border-key: #205d9e;
  --bg-btn-operation: #939393;
  --bg-btn-operation-hover: #7b7b7b;
  --bg-btn-operation-active: #4d4d4d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-main);
}

.calculator {
  height: 100vh;
  width: 100vw;
  padding: 4px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-calculator);
}

.output {
  border: 1px solid #104D87;
  margin: 5px;
  border-radius: 5px;
  background-color: #111927;
  color: #70B8FF;
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.previousOperand {
  align-self: flex-end;
}

.currentOperand {
  font-size: 2.7rem;
  align-self: flex-end;
}

.keypad {
  width: 100%;
}

.row {
  display: flex;
  margin-top: 4px;
  justify-content: space-between;
  gap: 4px;
}

button {
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 30px 0;
  flex: 1;
  border: none;
  background-color: var(--bg-key);
  color: var(--text-main);
}

.number:hover {
  background-color: var(--bg-key-hover);
}

.number:active {
  background-color: var(--bg-key-pressed);
}

.operation {
  background-color: var(--bg-btn-operation);
  color: var(--bg-main);
}

.operation:hover {
  background-color: var(--bg-btn-operation-hover);
}

.operation:active {
  background-color: var(--bg-btn-operation);
}

.equal {
  background-color: var(--bg-btn);
  color: var();
}

.equal:hover {
  background-color: var(--bg-btn-hover);
}

.equal:active {
  background-color: var(--bg-btn-active);
}
